# --- Ambientes virtuais ---
.venv/
venv/
env/
ENV/

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

# --- Ferramentas de tipo/lint/teste ---
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# --- Playwright ---
playwright-report/
perfil_chrome/
perfil_chrome_parte1/
perfil_chrome_parte0/
test-results/
*.trace.zip


# --- Variáveis de ambiente / segredos ---
.env
.env.*
!.env.example
src/conectividade/dados/resultados/*

# --- Editores / SO ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Logs ---
*.log
